@mixin gobcl() {
	font-family:"gobCL", Tahoma, Verdana, Segoe, sans-serif;
}

@mixin opensans() {
	font-family: "Open Sans", sans-serif;
}

@mixin georgia() {
	font-family: Georgia, Times, "Times New Roman", serif;
}


